@tailwind base;
@tailwind components;
@tailwind utilities;



/* ######################################### all common css here ########################################### */
/* universal font */
*{
  font-family:  'Bricolage Grotesque', sans-serif !important;
}

body {
  overflow-x: hidden !important;
}

/* selection */
*::selection{
  background-color: white;
  color: black !important;
}



/* glass blur effect container */
.glass-container {
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0)
  );
  backdrop-filter: blur(10px);

  box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
  animation: shine 1.5s infinite alternate;
}
@keyframes shine {
  0% {
    background-position: 200% center;
  }
  100% {
    background-position: -200% center;
  }
}


/* scrollbar design */
/* width */
::-webkit-scrollbar {
  width: 2px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1b6;
  border-radius: 5px; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #ffffff; 
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

